<h1><%= @doctor.name %></h1>
<br>
<%= link_to 'Delete Doctor', doctor_path, method: :delete, class: "ui red button inverted" %>
<%= link_to 'Edit Doctor', edit_doctor_path(@doctor), class: "ui green button" %>
