<nav>
  <ul>
    <li>
      <%= link_to 'doctor', doctors_path %>
    </li>
    <li>
      <%= link_to 'Add doctor', new_doctors_path %>
    </li>
    <li>
      <%= link_to 'patient', patients_path %>
    </li>
    <li>
      <%= link_to 'Add patient', new_patients_path %>
    </li>
  </ul>
</nav>
